// Rofi Config //

configuration {
  font: "JetBrainsMonoNL NF 12";
  drun-display-format: "{name}";
  display-drun: "drun";
  display-filebrowser: " Files";
  display-emoji: "😄 Emoji";
  display-calc: " Calc";
  display-clipboard: " Clipboard";
}

listview {
  lines: 15;
}

window {
  width: 30%;
}

//@theme "/usr/share/rofi/themes/android_notification.rasi"

//@theme "/home/jojo/.config/rofi/themes/nord-oneline.rasi"

@theme "/home/jojo/.config/rofi/themes/squared-nord.rasi"
