// Rofi Config //

configuration {
  modes: "drun,filebrowser,emoji,calc,clipboard:/home/jojo/.config/rofi/Scripts/cliphist-rofi";
  show-icons: false;
  font: "JetBrainsMonoNL NF 12";
  drun-display-format: "{name}";

  display-drun: " Apps:";
  display-filebrowser: " Files:";
  display-emoji: "😄 Emoji:";
  display-calc: " Calc:";
  display-clipboard: " Clipboard:";
}

@theme "~/.config/rofi/themes/rounded-nord-dark.rasi"

listview {
  lines: 15;
}

window {
  width: 30%;
}
